{% extends "layouts/base-products.html" %}
{% load get_total %}

{% block content %}

  {% comment %} <div class="h-screen bg-gray-100 pt-20 max-w-xl">
    <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
      <div class="rounded-lg md:w-2/3">
        {% for cart in carts %}
        <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
          {% if cart.product.img_main %}
            <img src="{{ cart.product.img_main.url }}" alt="product-image" class="w-full rounded-lg sm:w-40" />
            {% endif %}
            <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                <div class="mt-5 sm:mt-0">
                    <h2 class="text-lg font-bold text-gray-900">{{ cart.product.name }}</h2>
                    <p class="mt-1 text-xs text-gray-700">${{ cart.product.price }} x {{ cart.quantity }}</p>
                </div>
                <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                  <div class="flex items-center border-gray-100">
                    
                    <form method="post" action="{% url 'cart_decrement' cart.id %}">
                      {% csrf_token %}
                      <button class="increment cursor-pointer rounded-r bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">-</button>
                  </form>
                  <input class="quantity h-8 w-8 border bg-white text-center text-xs outline-none" type="number" id="quantity-{{ cart.id }}" value="{{ cart.quantity }}" min="0" />
                    <form method="post" action="{% url 'cart_increment' cart.id %}">
                      {% csrf_token %}
                      <button class="increment cursor-pointer rounded-r bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50">+</button>
                  </form>
                    
                  </div>
                  
                  
                  <div class="flex items-center space-x-4">
                    <p class="text-sm">${{ cart.total_price|floatformat:2  }}</p>
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-xs inline-flex items-center px-3 py-2 text-center" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 cursor-pointer duration-150 hover:text-red-500" onclick="openModal()">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </button>
                  
                </div>
                
                <!-- Modal -->
                <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-md max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="p-4 md:p-5 text-center">
                              <svg class="mx-auto mb-2 text-gray-400 w-8 h-8 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" width="24" height="24">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                              </svg>
                              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this product?</h3>
                              <a href="{% url 'delete_cart' cart.id %}" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center" onclick="deleteItem()">
                                  Yes, I'm sure
                              </a>
                              <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                                  No, cancel
                              </button>
                          </div>
                          
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <!-- Sub total -->
      <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
        <div class="mb-2 flex justify-between">
          <p class="text-gray-700">Subtotal</p>
          <p class="text-gray-700">${{ carts|get_total|floatformat:2  }}</p>
        </div>
        <div class="flex justify-between">
          <p class="text-gray-700">Shipping</p>
          <p class="text-gray-700">$4.99</p>
        </div>
        <hr class="my-4" />
        <div class="flex justify-between">
          <p class="text-lg font-bold">Total</p>
          <div class="">
            <p class="mb-1 text-lg font-bold">${{ carts|get_total:"4.99"|floatformat:2  }}</p>
            <p class="text-sm text-gray-700">including VAT</p>
          </div>
        </div>
        <form method='POST' action="{% url 'create_checkout_session' %}"> 
          {% csrf_token %}
        <button type='submit' class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">Check out</button>
        </form>
      </div>
    </div>
  </div> {% endcomment %}


  <section class="text-gray-700 body-font overflow-hidden bg-white border-b">
    <div class="max-w-screen-2xl mx-auto px-5 py-24">
      <div class="grid grid-cols-5 gap-3">
        <div class="col-span-4 w-11/12">
          <h3 class="text-3xl text-black font-medium mb-5">Cart</h3>

          <div class="relative overflow-x-auto sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-white dark:text-gray-400">
                <tr class="border-b">
                  <th scope="col" class="py-3">
                    Item
                  </th>
                  <th scope="col" class="py-3">
                    Quantity
                  </th>
                  <th scope="col" class="py-3">
                    Price
                  </th>
                  <th scope="col" class="py-3">
                    Total
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for cart in carts %}
                <tr class="bg-white border-b bg-white">
                  <td class="py-4">
                    <div class="flex items-center gap-3">
                      <img src="{{ cart.product.img_main.url }}" class="block w-24 h-24 border rounded-lg object-cover" alt="Apple Watch">
                      <div>
                        <span class="block mb-2">{{ cart.product.name }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-4 font-semibold text-gray-900 dark:text-white">
                    <div class="flex items-center gap-3">
                      <a href="{% url 'delete_cart' cart.id %}">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                        </svg>
                      </a>
                      <form method="post" action="{% url "update_cart_quantity" cart.id %}" class="cart-form max-w-sm">
                        {% csrf_token %}

                        <select name="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                          {% for value in 10|times %}
                            <option {% if value == cart.quantity %} selected {% endif %} value="{{ value }}">{{ value }}</option>
                          {% endfor %}
                        </select>
                      </form>   
                    </div>                 
                  </td>
                  <td class="py-4">
                    ${{ cart.product.price }}
                  </td>
                  <td class="py-4 font-semibold text-gray-900 dark:text-white">
                    ${{ cart.total_price }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>

        <div>
          <h3 class="text-3xl text-black font-medium mb-5">Summary</h3>
          <hr class="mb-5">
          <div class="mb-5">
            <div class="flex justify-between mb-3 text-sm font-normal">
              <span class="block">Subtotal</span>
              <span class="block">€{{ carts|get_total }}</span>
            </div>
            <div class="flex justify-between mb-3 text-sm font-normal">
              <span class="block">Shipping</span>
              <span class="block">€1.99</span>
            </div>
            <div class="flex justify-between mb-3 text-sm font-normal">
              <span class="block">Taxes</span>
              <span class="block">€0.00</span>
            </div>
          </div>
          <hr class="mb-5">
          <div class="mb-5">
            <div class="flex justify-between mb-3 text-sm font-normal">
              <span class="block">Total</span>
              <span class="block text-xl font-medium text-black">€{{ carts|get_total:"1.99" }}</span>
            </div>
          </div>
          <hr class="mb-5">
          <a class="w-full text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center justify-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2" href="{% url "create_checkout_session" %}">Go to checkout</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}

<script>
  document.querySelectorAll('.cart-form select').forEach(function(select) {
      select.addEventListener('change', function() {
          this.parentNode.submit();
      });
  });
</script>

{% endblock extra_js %}