{% extends "layouts/base-products.html" %}

{% block content %}


<div class="container mx-auto py-8 mt-10">
    <div class="flex items-center justify-center mb-5 mt-5">
        <hr class="border-t border-gray-300 flex-grow mr-4">
        <h1 class="text-xl font-semibold text-center text-gray-600">Categories</h1>
        <hr class="border-t border-gray-300 flex-grow ml-4">
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {% for tag in tags %}
        <div class="p-4 bg-blue-700 text-white text-center rounded shadow-md hover:shadow-lg transition duration-300 transform hover:scale-105">
            <a href="{% url 'category_products' tag.name %}" class="">
            <h2 class="text-lg font-semibold">{{ tag.name }} ({{ tag.count }}) </h2>
        </a>
        
        </div>
        {% endfor %}
        
        <!-- Add more category items as needed -->
    </div>
</div>

{% endblock %}