{% extends "layouts/base-products.html" %}

{% block title %}
    {{ tag.product_set.all|length }} | {{ copyright }} 
{% endblock title %}

{% block content %}

<section class="bg-white pt-0 {% if not request.path == '/' %} md:pt-44 {% else %} md:pt-10 {% endif %} md:pt-10 mb-10 md:mb-16 pb-10 md:pb-16 border-b border-gray-200">
  <div class="mt-10">
      <div class="grid mx-auto max-w-screen-2xl gap-14 lg:grid-cols-3 px-5" id='scrollTarget'>
          {% for product in tag.product_set.all %}
              {% if not product.discount %}
              <a class="group" href="{% url 'product_details' product.slug %}">
                  <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden border border-gray-200 md:h-[570px]">
                      {% if product.img_main %}
                          <img class="rounded-t-lg h-full object-cover" src="{{ product.img_main.url }}" alt="product image" />
                      {% endif %}
                  </div>
                  <div class="flex justify-between mt-5">
                      <span class="block text-sm text-slate-700">{{ product.name }}</span>
                      <span class="block text-sm text-slate-500">€{{ product.price }}</span>
                  </div>
              </a>
              {% else %}
              <a class="group" href="{% url 'product_details' product.slug %}">
                  <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden border border-gray-200 md:h-[570px] relative">
                      {% if product.img_main %}
                          <img class="rounded-t-lg h-full object-cover" src="{{ product.img_main.url }}" alt="product image" />
                      {% endif %}
                      <div class="absolute top-2 right-2">
                        {% if product.discount %}
                        <div class="bg-red-400 text-white rounded-md py-1 px-2">
                            
                          <span class="text-xl">-{{ product.discount|floatformat:"0" }}%</span>
                          
                        </div>
                        {% endif %}
                      </div>
                  </div>
                  <div class="flex justify-between mt-5">
                      <span class="block text-sm text-slate-700">{{ product.name }}</span>
                      <div class="flex gap-3">
                        <span class="block text-sm text-slate-500">€{{ product.price }}</span>
                        <span class="block text-sm text-slate-500 line-through">€{{ product.discounted_price }}</span>
                      </div>
                  </div>
              </a>
              {% endif %}
          {% endfor %}
      </div>
  </div>
</section>  

{% endblock %}