<!-- discounted_product_list.html -->

{% extends "layouts/base-products.html" %}

{% block content %}

<div class="container mx-auto my-8 p-6 bg-white rounded-lg">

    <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-3">
        {% for product in products %}
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-5">
            <a href="{% url "product_details" product.id %}">
                {% if product.img_main %}
                    <img class="rounded-t-lg" src="{{ product.img_main.url }}" alt="product image" />
                {% endif %}
            </a>
            <div class="px-3 pb-5 mt-3">
                <a href="{% url "product_details" product.id %}">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ product.name }}</h5>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                    {% if product.discount %}
                        <div class="flex items-center space-x-1 rtl:space-x-reverse">
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <span class="text-xs text-gray-500 dark:text-gray-400 ms-1"> {{ product.discount }}% Off</span>
                        </div>
                    {% endif %}

                    <!-- Display actual and discounted prices in a row -->
                    <div class="ms-3 flex items-center">
                        <p class="text-sm line-through text-gray-500 dark:text-gray-400 me-2">${{ product.price }}</p>
                        <p class="text-lg font-bold text-gray-900 dark:text-white">${{ product.discounted_price }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<hr>

{% endblock %}
