{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">
        <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
              <li class="inline-flex items-center">
                <a href="#" class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                  <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                  Home
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <a href="#" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">Dashboard</a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page">Settings</span>
                </div>
              </li>
            </ol>
        </nav>
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Dashboard settings</h1>
    
        

    <section class="bg-white dark:bg-gray-900 mb-5 mt-5">
        <form method='post' class="max-w-lg mx-auto" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-5">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }} </label>
                {{ field }}
            </div>
            {% endfor %}

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            <a class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-3 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" href="{% url "delete_local_product" product.id %}">Delete</a>
        </form>
    </section>

</div>
{% endblock content %}




{% comment %} <div class="mb-4">
    {{ form.name.label_tag }}
    {{ form.name }}
</div>

<div class="mb-4">
    {{ form.img_main.label_tag }}
    {{ form.img_main }}
</div>
<div class="mb-4">
    {{ form.img_1.label_tag }}
    {{ form.img_1 }}
</div>
<div class="mb-4">
    {{ form.img_2.label_tag }}
    {{ form.img_2 }}
</div>
<div class="mb-4">
    {{ form.img_3.label_tag }}
    {{ form.img_3 }}
</div>
<div class="mb-4">
    {{ form.img_4.label_tag }}
    {{ form.img_4 }}
</div>
<div class="mb-4">
    {{ form.img_5.label_tag }}
    {{ form.img_5}}
</div>
<div class="mb-4">
    {{ form.short_description.label_tag }}
    {{ form.short_description}}
</div>
<div class="mb-4">
    {{ form.description.label_tag }}
    {{ form.description}}
</div>
<div class="mb-4">
    {{ form.tags.label_tag }}
    {{ form.tags}}
</div>
<div class="mb-4">
    {{ form.featured.label_tag }}
    {{ form.featured}}
</div>
<div class="mb-4">
    {{ form.stock.label_tag }}
    {{ form.stock}}
</div>
<div class="mb-4">
    {{ form.discount.label_tag }}
    {{ form.discount}}
</div>
<div class="mb-4">
    {{ form.price.label_tag }}
    {{ form.price}}
</div> {% endcomment %}