{% extends "layouts/base.html" %}
{% load static %}

{% block messages %}

{% if messages %}
    {% for message in messages %}
        <div class="flex items-center p-4 text-sm rounded-lg dark:bg-gray-800 {{message.tags}}" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>{{ message }}</div>
        </div>
    {% endfor %}
{% endif %}


{% endblock messages %}
{% block content %}

<div class="m-5 bg-white dark:bg-gray-900 shadow-md rounded-lg overflow-hidden ">
    <div class="px-6 py-4">
        <!-- Card Title -->
        <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-200">Order List</h2>
    </div>
    <div class="flex justify-center">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Orders
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Order Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <!-- Modal toggle -->
                            <button 
                                data-modal-target="default-modal-{{order.id}}" 
                                data-modal-toggle="default-modal-{{order.id}}" 
                                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2"
                                type="button"
                            >
                                Orders
                            </button>
                            <!-- Main modal -->
                            <div id="default-modal-{{order.id}}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-3xl max-h-full">
                                    <!-- Modal content -->
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <!-- Modal header -->
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                Your Orders
                                            </h3>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal-{{order.id}}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="p-4 md:p-5 space-y-4 relative overflow-x-auto">
                                            <table class="table table-auto w-full">
                                                <thead>
                                                    <tr>
                                                        <th class="px-4 py-2 text-left">User</th>
                                                        <th class="px-4 py-2 text-left">Product</th>
                                                        <th class="px-4 py-2 text-left">Color</th>
                                                        <th class="px-4 py-2 text-left">Quantity</th>
                                                        <th class="px-4 py-2 text-left">Total Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    {% for cart in order.cart.all %}
                                                    <tr>
                                                        <td class="px-4 py-2 border text-left">{{ order.user.username }}</td>
                                                        <td class="px-4 py-2 border text-left">{{ cart.product.name }}</td>
                                                        <td class="px-4 py-2 border text-left">{{ cart.color.name }}</td>
                                                        <td class="px-4 py-2 border text-left">{{ cart.quantity }}</td>
                                                        <td class="px-4 py-2 border text-left">{{ cart.total_price }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    <tr class="font-bold">
                                                        <td class="px-4 py-2 border text-left" colspan="4">Total Order</td>
                                                        <td class="px-4 py-2 border text-left">{{ order.total_order }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                            <button data-modal-hide="default-modal-{{order.id}}" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ order.created_at|date:"Y-m-d" }}
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}



{% block extra_js %}




{% endblock extra_js %}