{% extends "layouts/base-products.html" %}

{% block content %}


<div class="container mx-auto py-8 mt-10">
    <div class="flex items-center justify-center mb-5 mt-5">
        <hr class="border-t border-gray-300 flex-grow mr-4">
        <h1 class="text-xl font-semibold text-center text-gray-600">All Orders</h1>
        <hr class="border-t border-gray-300 flex-grow ml-4">
    </div>
   

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
               
            </tr>
        </thead>
        {% for order in orders %}
        <tbody>
          
            
            <tr class="bg-white dark:bg-gray-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{order}}
                </th>
               
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

</div>

{% endblock %}