{% extends "layouts/base-products.html" %}



{% block content %}



<div class="bg-green-200 h-screen flex items-center justify-center">
    <div class="text-center">
        <div class="bg-green-500 text-white p-4 rounded-full inline-block">
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 12 4.7 4.5 9.3-9"/>
              </svg>
        </div>
        <h1 class="text-3xl mt-4">Payment Successful!</h1>
        <p class="text-lg">Thank you for your purchase. Your payment was successful.</p>
        <!-- Additional content or redirection logic can be added here -->
    </div>
</div>



{% endblock  %}


