{% extends "layouts/base-products.html" %}

{% block content %}



<div class="bg-red-200 h-screen flex items-center justify-center">
    <div class="text-center">
        <div class="bg-red-500 text-white p-4 rounded-full inline-block">
            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 18 6m0 12L6 6"/>
              </svg>
        </div>
        <h1 class="text-3xl mt-4">Payment Failed</h1>
        <p class="text-lg">Oops! Something went wrong with your payment. Please try again later.</p>
      
    </div>
</div>

{% endblock  %}
