{% extends "layouts/base-products.html" %}

{% block content %}

    <!-- component -->
    <section class="text-gray-700 body-font overflow-hidden bg-white">
        <div class="px-5 py-24 mx-auto ">
            <div class="max-w-screen-2xl p-5 mx-auto flex flex-wrap">
                <div class="lg:w-1/4 pr-10 mt-28">
                    <h2 class="text-sm title-font text-gray-500 tracking-widest mb-5">
                        {% for tag in product.tags.all %} <span class="py-2 text-slate-500">{{ tag.name|title }}</span> {% endfor %}
                    </h2>
                    <h1 class="text-gray-900 text-3xl title-font font-medium mb-3">{{ product.name }}</h1>
                    <p class="leading-relaxed text-sm">{{ product.description }}</p>

                    
                    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
                        <h2 id="accordion-flush-heading-1">
                            <button type="button" class="flex items-center justify-between w-full py-5 font-normal text-sm text-slate-500 rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
                                <span>Product Information</span>
                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                <div class="grid grid-cols-2 gap-3 mb-5">
                                    <div>
                                        <h6 class="font-medium text-sm">Material</h6>
                                        <span class="block">-</span>
                                    </div>
                                    <div>
                                        <h6 class="font-medium text-sm">Weight</h6>
                                        <span class="block">-</span>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-3 mb-5">
                                    <div>
                                        <h6 class="font-medium text-sm">Country of origin</h6>
                                        <span class="block">-</span>
                                    </div>
                                    <div>
                                        <h6 class="font-medium text-sm">Dimensions</h6>
                                        <span class="block">-</span>
                                    </div>
                                </div>
                                <div class="grid grid-cols-2 gap-3 mb-5">
                                    <div>
                                        <h6 class="font-medium text-sm">Type</h6>
                                        <span class="block">-</span>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 id="accordion-flush-heading-2">
                            <button type="button" class="flex items-center justify-between w-full py-5 font-normal text-sm text-slate-500 rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                                <span>Shipping & Returns</span>
                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                <div class="flex gap-3 mb-5">
                                    <div>
                                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                                        </svg> 
                                    </div>  
                                    <div class="">
                                        <h6 class="font-medium text-xs">Fast delivery</h6>
                                        <span class="font-normal text-xs">Your package will arrive in 3-5 business days at your pick up location or in the comfort of your home.</span>
                                    </div>                                   
                                </div>
                                <div class="flex gap-3 mb-5">
                                    <div>
                                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
                                        </svg> 
                                    </div>  
                                    <div class="">
                                        <h6 class="font-medium text-xs">Simple exchanges</h6>
                                        <span class="font-normal text-xs">Is the fit not quite right? No worries - we'll exchange your product for a new one.</span>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:w-1/2 px-10">
                    {% if product.img_main %}
                        <img alt="ecommerce" style="height: 770px;" class="w-full object-cover object-center rounded border border-gray-200" src="{{ product.img_main.url }}">
                    {% else %}
                        <img alt="ecommerce" style="height: 770px;" class="w-full object-cover object-center rounded border border-gray-200" src="#">
                    {% endif %}
                </div>

                <div class="lg:w-1/4 w-full pl-5 mt-28">
                    <h5 class="mb-5">Select color</h5>
                    <ul class="grid  gap-3 md:grid-cols-2 mb-5">
                        <li>
                            <input type="checkbox" id="black" value="" class="hidden peer" required="">
                            <label for="black" class="inline-flex items-center justify-center py-3 w-full text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                <div class="block">
                                    <div class="w-full text-xs font-normal">Black</div>
                                </div>
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="silver" value="" class="hidden peer" required="">
                            <label for="silver" class="inline-flex items-center justify-center py-3 w-full text-gray-900 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">                           
                                <div class="block">
                                    <div class="w-full text-xs font-normal">Silver</div>
                                </div>
                            </label>
                        </li>
                    </ul>
                    <hr class=" mb-3">
                    <h3 class="text-2xl font-bold text-black mb-3">€{{ product.price }}</h3>

                    <a href="{% url "add_to_cart" product.id %}" class="w-full text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center justify-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-40 border-b border-gray-200">
        <div class="max-w-screen-2xl p-5 mx-auto">
            <div class="w-2/5 mx-auto mb-28">
                <span class="text-center block mb-5 text-slate-600">Related products</span>
                <h3 class="text-center text-3xl font-medium">You might also want to check out these products.</h3>
            </div>

            <div class="grid mx-auto max-w-screen-2xl gap-10 lg:grid-cols-4 ">
                {% for product in related_products %}
                <a class="group" href="{% url 'product_details' product.id %}">
                    <div class="max-w-full mx-auto bg-white rounded-lg overflow-hidden border border-gray-200" style="height: 570px;">
                        {% if product.img_main %}
                            <img class="rounded-t-lg h-full object-cover" src="{{ product.img_main.url }}" alt="product image" />
                        {% endif %}
                    </div>
                    <div class="flex justify-between mt-5">
                        <span class="block text-sm text-slate-700">{{ product.name }}</span>
                        <span class="block text-sm text-slate-500">€{{ product.price }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}