{% load static cart_tags  %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rocket Django - Styled with Tailwind/Flowbite AppSeed</title>
    <meta name="description"
        content="Open-Source Django starter styled with Tailwind/Flowbite - Actively supported by AppSeed.">

    <link rel="canonical" href="https://github.com/app-generator/rocket-django">

    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
</head>

<body>

    {% comment %} <nav class="shadow-md">

        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="/" class="flex items-center">
                <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9"
                    alt="Rocket Flask Logo - Styled with Flowbite">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Rocket</span>
            </a>
            <div class="flex md:order-2">
    
                {% if request.user.is_authenticated %}
    
                <a href="{% url 'cart_list' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.8-3H7.4M11 7H6.3M17 4v6m-3-3h6"/>
                      </svg>{% cart_count %}
                </a>
    
                {% else %}
    
                <a href="{% url 'signin' %}"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Sign IN
                </a>
    
                {% endif %}
    
                <button data-collapse-toggle="navbar-cta" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                <ul
                    class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{% url "home_page" %}"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="{% url "load_products" %}"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Products</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'discounted_product_list' %}"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Discount</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}

    <nav class="shadow-md bg-white bg-opacity-80 backdrop-filter backdrop-blur-lg fixed top-0 w-full z-50 px-3 py-4">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <div class="flex items-center gap-3">
                <a href="{% url 'home_page' %}" class="flex items-center">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9"
                        alt="Rocket Flask Logo - Styled with Flowbite">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Rocket</span>
                </a>
            <ul class="flex space-x-6">
                {% if user.is_staff %}
                <li><a href="{% url 'load_products' %}" class="hover:underline" aria-current="page">Products</a></li>
                {% endif %}
                <li><a href="{% url 'category_list' %}" class="hover:underline" aria-current="page">Categories</a></li>
                <li><a href="{% url 'discounted_product_list' %}" class="hover:underline" aria-current="page">Discount</a></li>
            </ul>
            
        </div>
        <!-- Search Bar, Cart Item, and Sign In -->
        <div class="flex items-center space-x-4">
            <div class="relative">
                <input type="text" placeholder="Search" class="border border-gray-300 px-3 py-1 rounded-lg focus:outline-none focus:ring focus:border-blue-300">
                <button class="absolute inset-y-0 right-0 px-2">
                    <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                      </svg>
                      
                </button>
            </div>
            {% if request.user.is_authenticated %}
    
                <a href="{% url 'cart_list' %}" class=" flex justify-between item-center ">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.8-3H7.4M11 7H6.3M17 4v6m-3-3h6"/>
                      </svg>{% cart_count %}
                </a>
                <a href="{% url 'profile' %}"
                    class="">
                    <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                      </svg>
                      
                </a>
    
                {% else %}
    
                <a href="{% url 'signin' %}"
                class="hover:underline">
                    Sign IN
                </a>
    
                {% endif %}
        </div></div>
        <!-- Logo and Navigation Links -->
        
    </nav>
    
    {% block content %}{% endblock content %}


    <script src="{% static 'dist/main.bundle.js' %}"></script>
</body>

</html>