{% load static cart_tags  %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}">

    <title>{% block title %} {{ page_title }} - {{ copyright }} {% endblock title %}</title>
    <meta name="description"
        content="Open-Source Django starter styled with Tailwind/Flowbite - Actively supported by AppSeed.">

    <link rel="canonical" href="https://appseed.us/product/rocket-ecommerce/django/">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    {% block extrastyle %}{% endblock extrastyle %}
    <style>
        .swiper-slide{
            width: fit-content;
        }
        .swiper-slide:last-child {
            margin-right: 0 !important;
        }
        .swiper-button-next, .swiper-button-prev {
            position: absolute;
            bottom: 25px;
            top: auto;
        }
        .swiper-button-next {
            right: 44%;
            transform: translateX(50%);
        }
        .swiper-button-prev {
            left: 44%;
            transform: translateX(-50%);
        }
        .swiper-button-next:after, .swiper-button-prev:after {
            font-size: 25px;
            color: grey;
        }
        .separator {
            position: absolute;
            bottom: 36px;
            top: auto;
            height: 20px;
            width: 2px;
            background: grey;
            z-index: 999;
            left: 50%;
        }
        .swiper-button-next:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            content: '\f061';
        }
        .swiper-button-prev:after {
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            content: "\f060";
        }
        
    </style>
</head>
<body>


    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0">
        <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-5 ">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="self-center text-xl font-normal whitespace-nowrap dark:text-white">Rocket</span>
            </a>
            <div class="flex-1 items-center justify-between hidden w-full md:flex sm:hidden md:w-auto md:order-1" id="navbar-sticky">
                <form action="{% url "search_page" %}" class="w-full mx-10">   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="text" name="search" value="{{ request.GET.search }}" id="default-search" class="block w-full p-4 py-3 ps-10 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for brand, color, etc." required />
                        {% if request.GET.search %}
                        <a href="/" class="absolute inset-y-0 end-0 flex items-center pe-3">
                            <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="flex md:order-2 space-x-0 md:space-x-0 rtl:space-x-reverse">
                <ul class="flex flex-row items-center p-0 font-normal text-xs space-x-0 md:space-x-8 rtl:space-x-reverse mt-0 border-0 bg-white dark:bg-gray-800 dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{% url "discounts" %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Discounts</a>
                    </li>
                    {% if request.user|cart_count != 0 %}
                    <li>
                        <a href="{% url 'cart_list' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cart ({{ request.user|cart_count }})</a>
                    </li>
                    {% endif %}
                    <div class="flex items-center md:order-2 space-x-0 md:space-x-0 rtl:space-x-reverse">
                        <button type="button" class="flex text-sm bg-gray-800 rounded-full ms-3 md:ms-0 md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                          <span class="sr-only">Open user menu</span>
                          <img class="w-8 h-8 rounded-full" src="{% static "dist/images/users/bonnie-green.png" %}" alt="user photo">
                        </button>
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                          <div class="px-4 py-3">
                            <span class="block text-sm text-gray-900 dark:text-white">{{ request.user.username }}</span>
                            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ request.user.email }}</span>
                          </div>
                          <ul class="py-2" aria-labelledby="user-menu-button">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li>
                                <a href="{% url "load_products" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Products</a>
                            </li>                            
                            <li>
                              <a href="{% url "general_settings" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                            </li>
                            {% else %}
                            <li>
                              <a href="{% url "profile" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
                            </li>
                            {% endif %}
                            <li>
                              <a href="{% url "signout" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url "signin" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign in</a>
                            </li>
                        {% endif %}
                          </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="flex-1 items-center justify-between hidden w-full md:hidden min-[300px]:flex md:w-auto md:order-1 mb-3" id="navbar-sticky">
            <form action="{% url "search_page" %}" class="w-full mx-5">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="text" name="search" value="{{ request.GET.search }}" id="default-search" class="block w-full p-4 py-3 ps-10 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for brand, color, etc." required />
                    {% if request.GET.search %}
                    <a href="/" class="absolute inset-y-0 end-0 flex items-center pe-3">
                        <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="border-t">
            <div class="bg-[#F4F3F1] flex justify-center gap-8">
                {% for tag in tags %}
                    <a class="block text-lg font-medium py-4 border-black hover:border-b hover:border-b-2" href="{% url "home_page" tag.slug %}">{{ tag|title }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
    
    {% block content %}{% endblock content %}

    <footer class="bg-white dark:bg-gray-900">
        <div class="mx-auto w-full max-w-screen-2xl px-5 py-3 mt-3">
            <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ site_name }}</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Categories</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-normal">
                        {% for tag in tags|slice:"2" %}
                        <li>
                            <a href="{% url "home_page" tag.slug %}" class="underline text-sm">{{ tag.name|title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h2 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Sections</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-normal">
                        <li>
                            <a href="{% url "discounts" %}" class="underline text-sm">Discounts</a>
                        </li>
                        <li>
                            <a href="{% url "search_page" %}" class="underline text-sm">Search</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Links</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-normal">
                        <li>
                            <a href="{% url "terms_condition" %}" class="underline text-sm">Terms</a> 
                            &amp; 
                            <a href="{% url "privacy_policy" %}" class="underline text-sm">Privacy</a>
                        </li>
                        <li>
                            <a href="{% url "help" %}" class="underline text-sm">Help</a>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sm:flex sm:items-center sm:justify-between mt-10 md:mt-40 mb-3 md:mb-8">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ copyright }}</span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                {% if social_facebook %}
                <a href="{{ social_facebook }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                        <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Facebook page</span>
                </a>
                {% endif %}
                {% if social_twitter %}
                <a href="{{ social_twitter }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                        <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">Twitter page</span>
                </a>
                {% endif %}
                {% if social_github %}
                <a href="{{ social_github }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">GitHub account</span>
                </a>
                {% endif %}
                {% if social_instagram %}
                <a href="{{ social_instagram }}" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 50 50">
                        <path d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z"></path>
                    </svg>
                    <span class="sr-only">Instagram account</span>
                </a>
                {% endif %}
            </div>
        </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'dist/main.bundle.js' %}"></script>
    <script>
        var swiper = new Swiper(".bannerThumbSlider", {
          spaceBetween: 10,
          slidesPerView: 'auto',
          freeMode: true,
          breakpoints: {
            575: {
              spaceBetween: 20,
            },
          }
        });
        var swiper2 = new Swiper(".bannerSliderLarge", {
          centeredSlides: true,
          loop: true,
          spaceBetween: 0,
          thumbs: {
            swiper: swiper,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
    </script>
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>